* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #bca99d;
}

.header{
    background-color: #2a5d71;
    display: flex;
    flex-wrap: wrap;              
    justify-content: space-between;  
    align-items: center;
    padding: 15px;
    height: 80px;
}

.titulo-header{
    display: flex;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

.menu{
    display: flex;
    gap: 20px;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
}

body{
    background-color: #f9f0eb;
}

section{
    margin: auto;
    width: 95%;
    height: 50vw;
    margin-top: 20px; 
    justify-items: center;
    color: #333333;
    }

.titulo{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 10vw;
    }

h2{
    font-family: "Varela Round", sans-serif;
}
h3{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
h4{
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
}
p{
    font-family: "Varela Round", sans-serif;
}

.imagem-sobre-mim{
    display: block;
    justify-items: center;
    align-items: center;
    width: 50%;
}

.textos-sobre-mim{
    width: 70%;
    display: block;
    justify-items: start;
    align-content: center;
    font-size: 20px;
}

.sobre-mim{
    display: block;
    align-items: center;
}
.conteudo-sobre-mim {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.minha-formacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-formacao{
  width: 300px;
  padding: 20px;
  color: white;
  background-color: #2a5d71;
  font-size: 18px;
  border-radius: 10px;
}

.conteudo-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-projeto{
  width: 300px;
  padding: 20px;
  color: white;
  background-color: #2a5d71;
  font-size: 17px;
  border-radius: 10px;
  picture{
        display: flex;
        align-content: start;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 4%;
        }
    }
}

.skills{
    display: block;
    align-items: center;
    height: 50vw;
}
.conteudo-skill{
    width: 70vw;
    display: flex;
    justify-content: center;
}
.skill{
    display: block;
    justify-items: center;
}
.skill img{
    width: 10vw;
    height: 10vw;
    transition: ease-in-out 350ms;
    margin: 0.8vw;
}
.skill:hover img{
    width: 12vw;
    height: 12vw;
}
.barra-progresso{
    background-color: #333333;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 1vw;
    width: 8vw;
   
}
#progresso-html {
    animation: progresso-html 3s normal forwards;
    border-radius: 100px;
    background-color: #2a5d71;
    height: 0.5vw;
    width: 0;
}
#progresso-css {
    animation: progresso-css 3s normal forwards;
    border-radius: 100px;
    background-color: #2a5d71;
    height: 0.5vw;
    width: 0;
}
#progresso-processing{
    animation: progresso-processing 3s normal forwards;
    border-radius: 100px;
    background-color: #2a5d71;
    height: 0.5vw;
    width: 0;
}

@keyframes progresso-html {
    0% { width: 0; }
    100% { width: 75%; }
}
@keyframes progresso-css {
    0% { width: 0; }
    100% { width: 55%; }
}
@keyframes progresso-processing {
    0% { width: 0; }
    100% { width: 65%; }
}

.conteudo-depoimento{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-depoimento{
  width: 300px;
  padding: 20px;
  color: white;
  background-color: #2a5d71;
  font-size: 17px;
  border-radius: 10px;

  picture {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-bottom: 10px;
  }

  img {
    width: 60%;
    height: auto;         
    border-radius: 50%;
  }
}

footer{
    background-color: #2a5d71;
    color: white;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.formulario{
  width: 600px;
  height: 400px;
  padding: 10px;
  color: white;
  background-color: #2a5d71;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.input_box{
     border-radius: 5px;
     width: 180px;
     height: 22px;
    }

#mensagem{
    height: 100px;
    font-family: "Varela Round", sans-serif;
}

#enviar{
    background-color: white;
    color: #333333;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

#enviar:hover {
    background-color: #bca99d;
}